<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<p th:text="${user.getName()}"></p>
<hr/>
<p th:text="${user.getDateOfBirth()}"></p>
<div th:if="${cigarettes.isEmpty()}">
    <p>User не выбрал сигареты</p>
    <hr/>
</div>

<div th:if="${!cigarettes.isEmpty()}">
    <hr/>
    <b>Сигареты:</b>
    <br/>
    <table th:each="cigarette : ${cigarettes}">
        <tr>
            <td>
                <div th:if="${cigarette.isExpired()}">
                    <span th:text="${cigarette.getName() + ', ' + cigarette.getPrice()/2 + ', '
                + cigarette.getAdditives() + ', ' + cigarette.getDescription() + ', ' + cigarette.getDateOfIssue()}"
                          th:style=" 'color:red'">
                    cigarette
                </span>
                </div>
                <div th:if="${!cigarette.isExpired()}">
                <span th:text="${cigarette.getName() + ', ' + cigarette.getPrice() + ', '
                + cigarette.getAdditives() + ', ' + cigarette.getDescription() + ', ' + cigarette.getDateOfIssue()}"
                      th:style="'color:black'">
                    cigarette
                </span>
                </div>
            </td>
        </tr>
    </table>
    <hr/>
</div>

<form th:method="PATCH" th:action="@{/users/{id}/new_cigarettes(id=${user.getId()})}">
    <label for="cigarette">Выбор сигарет</label>
    <select th:object="${cigarette}" th:field="*{id}" id="cigarette">
        <option th:each="cigarette : ${allCigarettes}" th:value="${cigarette.getId()}" th:text="${cigarette.getName()}"></option>
    </select>
    <input type="submit" value="Выбрать сигареты">
</form>

<form th:method="GET" th:action="@{/users/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Изменить"/>
</form>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>

