<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Внесение изменений</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/cigarettes/{id}(id=${editCigarette.getId()})}" th:object="${editCigarette}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="price">Enter price:</label>
    <input type="text" th:field="*{price}" id="price"/>
    <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price error</div>
    <br/>
    <label for="description">Enter description:</label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error
    </div>
    <br/>
    <label for="dateOfIssue">Enter date of issue (dd/mm/yyyy):</label>
    <input type="text" th:field="*{dateOfIssue}" id="dateOfIssue"/>
    <div style="color: red" th:if="${#fields.hasErrors('dateOfIssue')}" th:errors="*{dateOfIssue}">Date of issue error
    </div>
    <br/>
    <label for="shelfLifeYear">Enter shelf life year:</label>
    <input type="text" th:field="*{shelfLifeYear}" id="shelfLifeYear"/>
    <div style="color: red" th:if="${#fields.hasErrors('shelfLifeYear')}" th:errors="*{shelfLifeYear}">Shelf life year
        error
    </div>
    <br/>
    <label for="additives">Enter additives:</label>
    <input type="text" th:field="*{additives}" id="additives"/>
    <div style="color: red" th:if="${#fields.hasErrors('additives')}" th:errors="*{additives}">Additives error
    </div>
    <br/>
    <label for="strength">Enter strength:</label>
    <input type="text" th:field="*{strength}" id="strength"/>
    <div style="color: red" th:if="${#fields.hasErrors('strength')}" th:errors="*{strength}">Strength error
    </div>
    <br/>
    <input style="color: blue" type="submit" value="Update!"/>
</form>

</body>
</html>